# HealtOne Hospital Database Design & Programming

## 1. Business Goals

- Mid-sized health insurance companies want to track health claims including patient information, provider (doctor) information, information about patient visits to their doctors as well as prescription medications prescribed to patients.
- Patient information with insurance.
- Regarding hospitals, where patients are treated and doctors work.
- Insurance companies want a database that can be accessed to find out the above information.

## 2. Database Design Entity Relationship Diagram

To achieve business goals, the first thing we need to do to create a database is create an entity relationship diagram as follows:

![Entity-Relationship Diagram](Hospital_ERD_FIX.png)

1. Entities:
   - Insurance_Companies
   - Insurance_Services
   - Patients
   - Doctors
   - Hospitals
   - Employment_Contract
   - Diseases
   - Treatment_History
   - Prescriptions
   - Drugs
   - Details

2. Relationships:
   - Insurance_Companies has a relationship with Insurance_Services via Company_ID.
   - Patients have a relationship with Treatment_History via Patient_ID.
   - Doctors have a relationship with Employment_Contract via Doctor_ID.
   - Hospitals have a relationship with Employment_Contract via Hospital_ID.
   - Treatment_History has a relationship with Doctors via Doctor_ID.
   - Treatment_History has a relationship with Hospitals through Hospital_ID.
   - Treatment_History has a relationship with Diseases via Disease_ID.
   - Prescriptions have a relationship with Treatment_History via Treatment_ID.
   - Prescriptions have a relationship with Drugs via Drug_ID.
   - Details have a relationship with Drugs via Drug_ID.
   - Details are related to Prescriptions via Prescription_ID

## 3. Database Programming

### Create Table

#### a. Insurance Companies Table

The `Insurance_Companies` table is used to store information about registered insurance companies in the system. Each insurance company has the following data:

- **Company_ID (Serial, Primary Key):** A unique identification automatically assigned to each insurance company, used as the primary key.

- **Company_Name (Varchar, Not Null):** The full name of the insurance company. This column must not be empty.

- **Address (Varchar):** The physical address of the insurance company.

- **Contact_insurance_Comp (Varchar, Unique):** Contact information that can be used to reach the company, such as a phone number or email address. This column has a unique constraint, ensuring that each company has a unique contact.

This table is designed to assist in tracking and managing data related to insurance companies within the context of a health data management system.

In [7]:
%load_ext sql
%%sql

-- Tabel Insurance_Companies
CREATE TABLE Insurance_Companies (
    Company_ID SERIAL PRIMARY KEY,
    Company_Name VARCHAR(25) NOT NULL,
    Address VARCHAR(25),
    Contact_insurance_Comp VARCHAR(50) UNIQUE
);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### b. Insurance Services Table

The `Insurance_Services` table is intended for storing details about the services offered by various insurance companies. Here are the components of this table:

- **Service_ID (Serial, Primary Key):** A unique identifier assigned automatically for each insurance service.

- **Company_ID (Integer):** A foreign key linked to the `Company_ID` column in the `Insurance_Companies` table, establishing a relationship between services and their respective insurance companies.

- **Service_Type (Varchar):** Describes the type or category of the insurance service.

- **Description (Varchar):** A detailed description of the insurance service, providing additional information about its features or coverage.

The foreign key constraint ensures that the `Company_ID` in this table corresponds to a valid entry in the `Insurance_Companies` table. This relationship facilitates the association of insurance services with their respective companies in the overall health data management system.

In [8]:
%%sql
-- Tabel Insurance_Services
CREATE TABLE Insurance_Services (
    Service_ID SERIAL PRIMARY KEY,
    Company_ID INTEGER CONSTRAINT in_serv_comp_id_fk REFERENCES Insurance_Companies(Company_ID),
    Service_Type VARCHAR(25),
    Description VARCHAR(100)
);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### c. Patients Table

The `Patients` table is designed to store information about individual patients and their affiliations with specific insurance services. Here are the key elements of this table:

- **Patient_ID (Serial, Primary Key):** A unique identifier automatically assigned for each patient record.

- **Service_ID (Integer):** A foreign key linked to the `Service_ID` column in the `Insurance_Services` table, indicating the insurance service associated with the patient.

- **First_Name (Varchar):** Represents the first name of the patient.

- **Last_Name (Varchar, Not Null):** Represents the last name of the patient.

- **Email (Varchar):** The email address associated with the patient, providing a means of contact.

- **Gender (Varchar):** Specifies the gender of the patient (e.g., Male, Female).

- **Address (Varchar):** The physical address of the patient.

- **Phone_Number (Varchar):** The contact phone number of the patient.

The unique constraint on the combination of `Email` and `Phone_Number` ensures that each patient has a distinct set of contact details. The foreign key relationship with the `Insurance_Services` table allows for tracking which insurance service each patient is affiliated with.

In [9]:
%%sql
-- Tabel Patients
CREATE TABLE Patients (
    Patient_ID SERIAL PRIMARY KEY,
    Service_ID INTEGER CONSTRAINT patient_serv_id_fk REFERENCES Insurance_Services(Service_ID),
    first_name VARCHAR(25),
    last_name VARCHAR(25) NOT NULL,
    Email VARCHAR(25),
    Gender VARCHAR(10),
    Address VARCHAR(25),
    Phone_Number VARCHAR(12),
    CONSTRAINT phone_email_uk UNIQUE (Email, Phone_Number)
);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### d. Doctors Table

The `Doctors` table is designed to store information about medical professionals. Here are the key elements of this table:

- **Doctor_ID (Serial, Primary Key):** A unique identifier automatically assigned for each doctor record.

- **First_Name (Varchar):** Represents the first name of the doctor.

- **Last_Name (Varchar, Not Null):** Represents the last name of the doctor.

- **Specialization (Varchar):** Indicates the medical specialization of the doctor (e.g., Cardiology, Pediatrics).

- **Phone_Number (Varchar):** The contact phone number of the doctor.

- **Email (Varchar):** The email address associated with the doctor, providing a means of contact.

- **Address (Varchar):** The physical address of the doctor.

The unique constraint on the combination of `Email` and `Phone_Number` ensures that each doctor has a distinct set of contact details. The `Specialization` column specifies the medical field in which the doctor specializes.

In [10]:
%%sql

-- Tabel Doctors
CREATE TABLE Doctors (
    Doctor_ID SERIAL PRIMARY KEY,
    first_name VARCHAR(25),
    last_name VARCHAR(25) NOT NULL,
    Specialization VARCHAR(25),
    Phone_Number VARCHAR(12),
    Email VARCHAR(25),
    Address VARCHAR(25),
    CONSTRAINT doct_phone_email_uk UNIQUE (Email, Phone_Number)
);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### e. Hospitals Table

The `Hospitals` table is designed to store information about healthcare institutions. Here are the key elements of this table:

- **Hospital_ID (Serial, Primary Key):** A unique identifier automatically assigned for each hospital record.

- **Hospital_Name (Varchar, Not Null):** Represents the name of the hospital.

- **Address (Varchar):** The physical address/location of the hospital.

- **Contact_Hospital (Varchar):** The contact information for the hospital, ensuring it is unique across records.

The `Hospital_Name` is a required field, ensuring that each hospital entry has a distinct name. The `Contact_Hospital` is constrained to be unique, preventing duplicate contact information within the table.

In [11]:
%%sql
-- Tabel Hospitals
CREATE TABLE Hospitals (
    Hospital_ID SERIAL PRIMARY KEY,
    Hospital_Name VARCHAR(25) NOT NULL,
    Address VARCHAR(25),
    Contact_Hospital VARCHAR(50) CONSTRAINT hospital_contact_uk UNIQUE
);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### f. Employment_Contract Table

The `Employment_Contract` table manages the employment contracts between doctors and hospitals. Key features of this table include:

- **Doctor_ID (Integer, Foreign Key):** A reference to the unique identifier of the doctor from the `Doctors` table.

- **Hospital_ID (Integer, Foreign Key):** A reference to the unique identifier of the hospital from the `Hospitals` table.

- **Start_Date (Date, Not Null):** Represents the start date of the employment contract.

- **End_Date (Date, Not Null):** Represents the end date of the employment contract. The constraint `emp_contr_end_after_start_ck` ensures that the end date is always after the start date.

- **Salary (Integer):** Indicates the salary associated with the employment contract.

- **Primary Key (Doctor_ID, Hospital_ID):** Ensures that each combination of doctor and hospital has a unique employment contract.

The table establishes relationships between doctors and hospitals through the `Doctor_ID` and `Hospital_ID` foreign keys. Additionally, the `emp_contr_end_after_start_ck` constraint ensures the logical consistency of the dates in the employment contract.

In [12]:
%%sql
-- Tabel Employment_Contract
CREATE TABLE Employment_Contract (
    Doctor_ID INTEGER CONSTRAINT emp_contr_doc_id_fk REFERENCES Doctors(Doctor_ID),
    Hospital_ID INTEGER CONSTRAINT empy_contr_hosp_id_fk REFERENCES Hospitals(Hospital_ID),
    Start_Date DATE NOT NULL,
    End_Date DATE NOT NULL,
    Salary INTEGER,
    CONSTRAINT emp_contr_end_after_start_ck CHECK (End_Date > Start_Date),
    CONSTRAINT doc_hosp_id_pk PRIMARY KEY (Doctor_ID, Hospital_ID)
);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### g. Diseases Table

The `Diseases` table is designed to store information about various diseases. Key features of this table include:

- **Disease_ID (Serial, Primary Key):** A unique identifier for each disease entry.

- **Disease_Name (VARCHAR, Not Null):** The name of the disease. This field cannot be empty.

- **Disease_Description (VARCHAR):** A brief description or information about the disease.

The primary key ensures that each disease entry is uniquely identified by its `Disease_ID`. This table can be referenced in other tables, linking diseases to specific medical cases, patients, or treatment histories.

In [13]:
%%sql
-- Tabel Diseases
CREATE TABLE Diseases (
    Disease_ID SERIAL PRIMARY KEY,
    Disease_Name VARCHAR(25) NOT NULL,
    Disease_Description VARCHAR(50)
);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### h. Treatment History Table

The `Treatment_History` table captures information related to the medical treatment history of patients. Key attributes of this table include:

- **Treatment_ID (Serial, Primary Key):** A unique identifier for each treatment history entry.

- **Treatment_Date (Date):** The date when the treatment occurred.

- **Treatment_Category (VARCHAR, Not Null):** Categorization of the treatment, providing insights into the nature of the medical intervention.

- **Patient_ID (Integer):** Foreign key referencing the unique identifier of the patient in the `Patients` table.

- **Doctor_ID (Integer):** Foreign key referencing the unique identifier of the doctor in the `Doctors` table.

- **Hospital_ID (Integer):** Foreign key referencing the unique identifier of the hospital in the `Hospitals` table.

- **Disease_ID (Integer):** Foreign key referencing the unique identifier of the disease in the `Diseases` table.

The foreign key constraints ensure data integrity by linking entries in this table to corresponding records in the `Patients`, `Doctors`, `Hospitals`, and `Diseases` tables.

In [14]:
%%sql

-- Tabel Treatment History
CREATE TABLE Treatment_History (
    Treatment_ID SERIAL PRIMARY KEY,
    Treatment_Date DATE,
    Treatment_Category VARCHAR(25) NOT NULL,
    Patient_ID INTEGER,
    Doctor_ID INTEGER,
    Hospital_ID INTEGER,
    Disease_ID INTEGER,
    CONSTRAINT treat_hist_patient_fk FOREIGN KEY (Patient_ID) REFERENCES Patients(Patient_ID),
    CONSTRAINT treat_hist_doctor_fk FOREIGN KEY (Doctor_ID) REFERENCES Doctors(Doctor_ID),
    CONSTRAINT treat_hist_hospital_fk FOREIGN KEY (Hospital_ID) REFERENCES Hospitals(Hospital_ID),
    CONSTRAINT treat_hist_disease_fk FOREIGN KEY (Disease_ID) REFERENCES Diseases(Disease_ID)
);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### i. Prescriptions Table

The `Prescriptions` table records details related to medical prescriptions. Key attributes of this table include:

- **Prescription_ID (Serial, Primary Key):** A unique identifier for each prescription.

- **Refillable (VARCHAR, Not Null):** Indicates whether the prescription is refillable or not.

- **Number_of_refillable (Integer):** The number of times the prescription can be refilled. This field may be NULL if the prescription is not refillable.

- **Treatment_ID (Integer):** Foreign key referencing the unique identifier of the treatment in the `Treatment_History` table.

The foreign key constraint ensures data integrity by linking entries in this table to corresponding records in the `Treatment_History` table.

In [15]:
%%sql
-- Tabel Prescriptions
CREATE TABLE Prescriptions (
    Prescription_ID SERIAL PRIMARY KEY,
    Refillable VARCHAR(5) NOT NULL,
    Number_of_refillable INTEGER,
    Treatment_ID INTEGER CONSTRAINT Prescript_treat_id_fk REFERENCES Treatment_History(Treatment_ID)
);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### j. Drugs Table

The `Drugs` table stores information about various drugs. Key attributes of this table include:

- **Drug_ID (Serial, Primary Key):** A unique identifier for each drug.

- **Name_of_Drug (VARCHAR, Not Null):** The name of the drug.

- **Medical_Purpose (VARCHAR):** Describes the medical purpose or use of the drug.

- **Sides_Effect (VARCHAR):** Describes potential side effects associated with the drug.

This table provides essential details about different drugs, facilitating the management and understanding of their properties.

In [16]:
%%sql

-- Tabel Drugs
CREATE TABLE Drugs (
    Drug_ID SERIAL PRIMARY KEY,
    Name_of_Drug VARCHAR(25) NOT NULL,
    Medical_Purpose VARCHAR(25),
    Sides_Effect VARCHAR(25)
);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### k. Details Table

The `Details` table maintains information regarding drug details associated with prescriptions. Key attributes of this table include:

- **Drug_ID (Integer, Foreign Key):** A reference to the unique identifier of the drug in the `Drugs` table.

- **Prescription_ID (Integer, Foreign Key):** A reference to the unique identifier of the prescription in the `Prescriptions` table.

- **Dosage (VARCHAR):** Describes the recommended dosage for the drug.

- **Direction_Of_Use (VARCHAR, Not Null):** Provides instructions on how the drug should be administered.

This table establishes a relationship between drugs, prescriptions, and their associated details, ensuring comprehensive tracking of medication-related information.

In [17]:
%%sql
-- Tabel Details
CREATE TABLE Details (
    Drug_ID INTEGER CONSTRAINT det_drug_id_fk REFERENCES Drugs(Drug_ID),
    Prescription_ID INTEGER CONSTRAINT det_prescript_id_fk REFERENCES Prescriptions(Prescription_ID),
    Dosage VARCHAR(25),
    Direction_Of_Use VARCHAR(50) NOT NULL
);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

### Database Sequences

In relational databases, sequences are objects that generate unique numerical values. They are often used to produce primary key values for tables. In the context of this database, sequences have been defined for various tables. Below are some key aspects of sequences:

#### a. Insurance Companies Sequence

The sequence `InsuranceCompaniesSeq` is created for the `Insurance_Companies` table. It is configured to increment by 1 and start with 1, ensuring unique values for the primary key `Company_ID`.

In [24]:
%%sql
-- Sequence untuk tabel Insurance_Companies
CREATE SEQUENCE InsuranceCompaniesSeq 
    START WITH 1 
    INCREMENT BY 1
    MAXVALUE 1000;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### b. Insurance Services Sequence

The sequence `InsuranceServicesSeq` is specifically created for the `Insurance_Services` table. Below is an explanation of its configuration:

In [25]:
%%sql

-- Sequence untuk tabel Insurance_Services
 CREATE SEQUENCE InsuranceServicesSeq 
    START WITH 12
    INCREMENT BY 5
    MAXVALUE 100000;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### c. Patients Sequence

The sequence `PatientsSeq` is dedicated to the `Patients` table. Here is an explanation of its configuration:

In [26]:
%%sql
-- Sequence untuk tabel Patients
CREATE SEQUENCE PatientsSeq 
    START WITH 13
    INCREMENT BY 6
    MAXVALUE 100000;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### d. Doctors Sequence

The sequence `DoctorsSeq` is specifically designed for the `Doctors` table. Here is an overview of its configuration:

In [27]:
%%sql
-- Sequence untuk tabel Doctors
CREATE SEQUENCE DoctorsSeq
    START WITH 14
    INCREMENT BY 7
    MAXVALUE 100000;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### e. Hospitals Sequence

The sequence `HospitalsSeq` is tailored for the `Hospitals` table. Below is a breakdown of its configuration:

In [28]:
%%sql
-- Sequence untuk tabel Hospitals
CREATE SEQUENCE HospitalsSeq
    START WITH 15
    INCREMENT BY 8
    MAXVALUE 1000

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### f. Diseases Sequence

The sequence `DiseasesSeq` is specifically designed for the `Diseases` table. The sequence is configured as follows:

In [29]:
%%sql
-- Sequence untuk tabel Diseases
CREATE SEQUENCE DiseasesSeq
    START WITH 16
    INCREMENT BY 9
    MAXVALUE 100000;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### g. Treatment History Sequence

The sequence `Treatment_HistorySeq` is specifically tailored for the `Treatment_History` table. The sequence is configured as follows:

In [30]:
%%sql
-- Sequence untuk tabel Treatment History
CREATE SEQUENCE Treatment_HistorySeq
    START WITH 17
    INCREMENT BY 2
    MAXVALUE 100000;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### h. Prescriptions Sequence

The sequence `PrescriptionsSeq` is dedicated to the `Prescriptions` table. The sequence is configured as follows:

In [31]:
%%sql
-- Sequence untuk tabel Prescriptions
CREATE SEQUENCE PrescriptionsSeq
    START WITH 18
    INCREMENT BY 3
    MAXVALUE 100000;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

#### i. Drugs Sequence

The sequence `DrugsSeq` is specifically designed for the `Drugs` table. The sequence is defined as follows:

In [32]:
%%sql
-- Sequence untuk tabel Drugs
CREATE SEQUENCE DrugsSeq
    START WITH 19
    INCREMENT BY 4
    MAXVALUE 100000;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.

[]

### Insert Table

#### a. Insert Data into Insurance Companies Table

The provided SQL code inserts data into the `Insurance_Companies` table. It uses the sequence `InsuranceCompaniesSeq` to generate unique values for the `Company_ID` column. The inserted data consists of information about insurance companies, including their names, addresses, and contact information.

In [39]:
%%sql
---INSERT TABLE

-- Tabel Insurance_Companies
INSERT INTO Insurance_Companies (Company_ID, Company_Name, Address, Contact_insurance_Comp)
VALUES 
    (nextval('InsuranceCompaniesSeq'), 'BPJS Life Insurance', 'Jl. Jeruk No.20', '23456'),
    (nextval('InsuranceCompaniesSeq'), 'Future Life Insurance', 'Jl. Jeruk No.30', '34567'),
    (nextval('InsuranceCompaniesSeq'), 'Green Life Insurance', 'Jl. Jeruk No.40', '56789'),
    (nextval('InsuranceCompaniesSeq'), 'Yellow Life Insurance', 'Jl. Apel No.50', '25678'),
    (nextval('InsuranceCompaniesSeq'), 'White Life Insurance', 'Jl. Apel No.55', '46758');

SELECT * FROM Insurance_Companies;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
5 rows affected.
5 rows affected.
5 rows affected.

[(1, 'BPJS Life Insurance', 'Jl. Jeruk No.20', '23456'),
 (2, 'Future Life Insurance', 'Jl. Jeruk No.30', '34567'),
 (3, 'Green Life Insurance', 'Jl. Jeruk No.40', '56789'),
 (4, 'Yellow Life Insurance', 'Jl. Apel No.50', '25678'),
 (5, 'White Life Insurance', 'Jl. Apel No.55', '46758')]

#### b. Insert Data into Insurance Services Table

The provided SQL code inserts data into the `Insurance_Services` table. It utilizes the sequence `InsuranceServicesSeq` to generate unique values for the `Service_ID` column. The inserted data includes information about various insurance services, such as the service type and description, associated with different insurance companies.

In [41]:
%%sql
-- Tabel Insurance_Services
INSERT INTO Insurance_Services (Service_ID, Company_ID, Service_Type, Description)
VALUES 
    (nextval('InsuranceServicesSeq'), 4, 'In Patient', 'Health insurance whose benefits cover the cost of care when the customer is hospitalized'),
    (nextval('InsuranceServicesSeq'), 5, 'Reimbursement', 'Health insurance that requires insurance participants to pay health care costs in advance'),
    (nextval('InsuranceServicesSeq'), 3, 'Out Patient', 'Outpatient insurance has the benefit of covering outpatient medical treatment costs'),
    (nextval('InsuranceServicesSeq'), 4, 'Cashless', 'Health insurance that allows customers not to have to pay in advance to get medical treatment'),
    (nextval('InsuranceServicesSeq'), 1, 'Mandatory', 'Government health insurance that requires all nationals to become participants');

SELECT * FROM Insurance_Services;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
5 rows affected.
5 rows affected.

[(37, 4, 'In Patient', 'Health insurance whose benefits cover the cost of care when the customer is hospitalized'),
 (42, 5, 'Reimbursement', 'Health insurance that requires insurance participants to pay health care costs in advance'),
 (47, 3, 'Out Patient', 'Outpatient insurance has the benefit of covering outpatient medical treatment costs'),
 (52, 4, 'Cashless', 'Health insurance that allows customers not to have to pay in advance to get medical treatment'),
 (57, 1, 'Mandatory', 'Government health insurance that requires all nationals to become participants')]

#### c. Insert Data into Patients Table

The following SQL code inserts data into the `Patients` table. It utilizes the sequence `PatientsSeq` to generate unique values for the `Patient_ID` column. The inserted data includes information about different patients, such as their names, gender, contact details, and addresses.

In [43]:
%%sql
-- Tabel Patients
INSERT INTO Patients (Patient_ID, Service_ID, first_name, last_name, Email, Gender, Address, Phone_Number)
VALUES 
    (nextval('PatientsSeq'), 37, 'John', 'Doe', 'john@gmail.com', 'Male', 'Jl. Pahlawan No.28', '1234567890'),
    (nextval('PatientsSeq'), 37, 'Jane', 'Smith', 'jane@gmail.com', 'Female', 'Jl. Bung Karno No.40', '9876543210'),
    (nextval('PatientsSeq'), 52, 'Michael', 'Johnson', 'michael@gmail.com', 'Male', 'Jl. Manggis No.5', '5551234567'),
    (nextval('PatientsSeq'), 42, 'Emily', 'Williams', 'emily@gmail.com', 'Female', 'Jl. Bung Hatta No.3', '5559876543'),
    (nextval('PatientsSeq'), 57, 'David', 'Brown', 'david@gmail.com', 'Male', 'Jl. Anggur No.4', '7778889999');

SELECT * FROM Patients;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
5 rows affected.
5 rows affected.

[(43, 37, 'John', 'Doe', 'john@gmail.com', 'Male', 'Jl. Pahlawan No.28', '1234567890'),
 (49, 37, 'Jane', 'Smith', 'jane@gmail.com', 'Female', 'Jl. Bung Karno No.40', '9876543210'),
 (55, 52, 'Michael', 'Johnson', 'michael@gmail.com', 'Male', 'Jl. Manggis No.5', '5551234567'),
 (61, 42, 'Emily', 'Williams', 'emily@gmail.com', 'Female', 'Jl. Bung Hatta No.3', '5559876543'),
 (67, 57, 'David', 'Brown', 'david@gmail.com', 'Male', 'Jl. Anggur No.4', '7778889999')]

#### d. Insert Data into Doctors Table

The following SQL code inserts data into the `Doctors` table. It utilizes the sequence `DoctorsSeq` to generate unique values for the `Doctor_ID` column. The inserted data includes information about different doctors, such as their names, specializations, contact details, and addresses.

In [44]:
%%sql

-- Tabel Doctors
INSERT INTO Doctors (Doctor_ID, first_name, last_name, Specialization, Phone_Number, Email, Address)
VALUES 
    (nextval('DoctorsSeq'), 'Dr. Robert', 'Johnson', 'Cardiology', '5551234567', 'robert@gmail.com', 'Jl. Jalan Jeruk No.5'),
    (nextval('DoctorsSeq'), 'Dr. Stefany', 'Williams', 'Pediatrics', '5559876543', 'Stefany@gmail.com', 'Jl. Apel No.6'),
    (nextval('DoctorsSeq'), 'Dr. Mark', 'Smith', 'Orthopedics', '5552223333', 'mark@gmail.com', 'Jl. Manggis No.3'),
    (nextval('DoctorsSeq'), 'Dr. Sarah', 'Davis', 'Dermatology', '5554445555', 'sarah@gmail.com', 'Jl. Delima No.45'),
    (nextval('DoctorsSeq'), 'Dr. Christopher', 'Anderson', 'Neurology', '5556667777', 'christopher@gmail.com', 'Jl. Hijau No.45');

SELECT * FROM Doctors;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
5 rows affected.
5 rows affected.

[(14, 'Dr. Robert', 'Johnson', 'Cardiology', '5551234567', 'robert@gmail.com', 'Jl. Jalan Jeruk No.5'),
 (21, 'Dr. Stefany', 'Williams', 'Pediatrics', '5559876543', 'Stefany@gmail.com', 'Jl. Apel No.6'),
 (28, 'Dr. Mark', 'Smith', 'Orthopedics', '5552223333', 'mark@gmail.com', 'Jl. Manggis No.3'),
 (35, 'Dr. Sarah', 'Davis', 'Dermatology', '5554445555', 'sarah@gmail.com', 'Jl. Delima No.45'),
 (42, 'Dr. Christopher', 'Anderson', 'Neurology', '5556667777', 'christopher@gmail.com', 'Jl. Hijau No.45')]

#### e. Insert Data into Hospitals Table

The following SQL code inserts data into the `Hospitals` table. It utilizes the sequence `HospitalsSeq` to generate unique values for the `Hospital_ID` column. The inserted data includes information about different hospitals, such as their names, addresses, and contact details.

In [45]:
%%sql

-- Tabel Hospitals
INSERT INTO Hospitals (Hospital_ID, Hospital_Name, Address, Contact_Hospital)
VALUES 
    (nextval('HospitalsSeq'), 'RS Dr. Angga', 'Jl. Mawar No.65', '87890'),
    (nextval('HospitalsSeq'), 'RS Dr. Faizal', 'Jl. Anggrek No.56', '57684'),
    (nextval('HospitalsSeq'), 'RS Dr. Erikson', 'Jl. Edelwis No.45', '47655'),
    (nextval('HospitalsSeq'), 'RSUD Jakarta', 'Jl. Melati No.40', '75867'),
    (nextval('HospitalsSeq'), 'RSUD Bandung', 'Jl. Kemboja No.38', '84757');

SELECT * FROM Hospitals;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
5 rows affected.
5 rows affected.

[(15, 'RS Dr. Angga', 'Jl. Mawar No.65', '87890'),
 (23, 'RS Dr. Faizal', 'Jl. Anggrek No.56', '57684'),
 (31, 'RS Dr. Erikson', 'Jl. Edelwis No.45', '47655'),
 (39, 'RSUD Jakarta', 'Jl. Melati No.40', '75867'),
 (47, 'RSUD Bandung', 'Jl. Kemboja No.38', '84757')]

#### f. Insert Data into Employment_Contract Table

The following SQL code inserts data into the `Employment_Contract` table. It specifies contracts between doctors and hospitals, including details such as the doctor's ID, hospital ID, start date, end date, and salary.

In [51]:
%%sql

-- Tabel Employment_Contract

INSERT INTO Employment_Contract (Doctor_ID, Hospital_ID, Start_Date, End_Date, Salary)
VALUES 
    (14, 23, TO_DATE('2023-01-01', 'YYYY-MM-DD'), TO_DATE('2023-12-31', 'YYYY-MM-DD'), 100000),
    (21, 15, TO_DATE('2023-02-01', 'YYYY-MM-DD'), TO_DATE('2023-12-31', 'YYYY-MM-DD'), 95000),
    (28, 31, TO_DATE('2023-03-01', 'YYYY-MM-DD'), TO_DATE('2023-12-31', 'YYYY-MM-DD'), 90000),
    (35, 39, TO_DATE('2023-04-01', 'YYYY-MM-DD'), TO_DATE('2023-12-31', 'YYYY-MM-DD'), 85000),
    (35, 31, TO_DATE('2023-05-01', 'YYYY-MM-DD'), TO_DATE('2023-12-31', 'YYYY-MM-DD'), 80000);
    
SELECT * FROM Employment_Contract;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
5 rows affected.
5 rows affected.

[(14, 23, datetime.date(2023, 1, 1), datetime.date(2023, 12, 31), 100000),
 (21, 15, datetime.date(2023, 2, 1), datetime.date(2023, 12, 31), 95000),
 (28, 31, datetime.date(2023, 3, 1), datetime.date(2023, 12, 31), 90000),
 (35, 39, datetime.date(2023, 4, 1), datetime.date(2023, 12, 31), 85000),
 (35, 31, datetime.date(2023, 5, 1), datetime.date(2023, 12, 31), 80000)]

#### g. Insert Data into Diseases Table

The following SQL code inserts data into the `Diseases` table. It provides information about different diseases, including the disease ID, name, and description.

In [57]:
%%sql

-- Tabel Diseases
INSERT INTO Diseases (Disease_ID, Disease_Name, Disease_Description)
VALUES 
    (nextval('DiseasesSeq'), 'Cancer', 'growth of abnormal and malignant cells in the body'),
    (nextval('DiseasesSeq'), 'Fever', 'body temperature above 38 degrees Celsius'),
    (nextval('DiseasesSeq'), 'Bursitis', 'Pain and redness in the inflamed joint area.'),
    (nextval('DiseasesSeq'), 'Candida', 'infection caused by the fungus Candida albicans'),
    (nextval('DiseasesSeq'), 'Alzheimer', 'The main symptoms are memory loss and confusion');

SELECT * FROM Diseases;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
5 rows affected.
5 rows affected.

[(16, 'Cancer', 'growth of abnormal and malignant cells in the body'),
 (25, 'Fever', 'body temperature above 38 degrees Celsius'),
 (34, 'Bursitis', 'Pain and redness in the inflamed joint area.'),
 (43, 'Candida', 'infection caused by the fungus Candida albicans'),
 (52, 'Alzheimer', 'The main symptoms are memory loss and confusion')]

#### h. Insert Data into Treatment_History Table

The following SQL code inserts data into the `Treatment_History` table. It records the treatment history, including the treatment ID, date, category, patient ID, doctor ID, hospital ID, and disease ID.

In [69]:
%%sql

-- Tabel Treatment History
INSERT INTO Treatment_History (Treatment_ID, Treatment_Date, Treatment_Category, Patient_ID, Doctor_ID, Hospital_ID, Disease_ID)
VALUES 
    (nextval('Treatment_HistorySeq'), TO_DATE('2023-05-15', 'YYYY-MM-DD'), 'Initial Treatment Visit', 43, 35, 39, 43),
    (nextval('Treatment_HistorySeq'), TO_DATE('2023-06-20', 'YYYY-MM-DD'), 'Initial Treatment Visit', 49, 35, 31, 43),
    (nextval('Treatment_HistorySeq'), TO_DATE('2023-07-25', 'YYYY-MM-DD'), 'Initial Treatment Visit', 55, 14, 23, 16),
    (nextval('Treatment_HistorySeq'), TO_DATE('2023-08-30', 'YYYY-MM-DD'), 'Follow Up Treatment Visit', 61, 21, 15, 25),
    (nextval('Treatment_HistorySeq'), TO_DATE('2023-09-10', 'YYYY-MM-DD'), 'Regular Treatment Visit', 67, 28, 31, 34);

SELECT * FROM Treatment_History;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
15 rows affected.
5 rows affected.
5 rows affected.

[(47, datetime.date(2023, 5, 15), 'Initial Treatment Visit', 43, 35, 39, 43),
 (49, datetime.date(2023, 6, 20), 'Initial Treatment Visit', 49, 35, 31, 43),
 (51, datetime.date(2023, 7, 25), 'Initial Treatment Visit', 55, 14, 23, 16),
 (53, datetime.date(2023, 8, 30), 'Follow Up Treatment Visit', 61, 21, 15, 25),
 (55, datetime.date(2023, 9, 10), 'Regular Treatment Visit', 67, 28, 31, 34)]

#### i. Insert Data into Prescriptions Table

The following SQL code inserts data into the `Prescriptions` table. It records prescription information, including the prescription ID, refillable status, the number of refills, and the associated treatment ID.

In [75]:
%%sql
-- Tabel Prescriptions
INSERT INTO Prescriptions (Prescription_ID, Refillable, Number_of_refillable, Treatment_ID)
VALUES 
    (nextval('PrescriptionsSeq'), 'Yes', 3, 47),
    (nextval('PrescriptionsSeq'), 'No', NULL, 49),
    (nextval('PrescriptionsSeq'), 'Yes', 2, 51),
    (nextval('PrescriptionsSeq'), 'Yes', 1, 53),
    (nextval('PrescriptionsSeq'), 'No', NULL, 55);

SELECT * FROM Prescriptions;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
5 rows affected.
5 rows affected.

[(18, 'Yes', 3, 47),
 (21, 'No', None, 49),
 (24, 'Yes', 2, 51),
 (27, 'Yes', 1, 53),
 (30, 'No', None, 55)]

#### j. Insert Data into Drugs Table

The following SQL code inserts data into the `Drugs` table, capturing information about various drugs, including the drug ID, name of the drug, medical purpose, and side effects.

In [76]:
%%sql
-- Tabel Drugs
INSERT INTO Drugs (Drug_ID, Name_of_Drug, Medical_Purpose, sides_Effect)
VALUES 
    (nextval('DrugsSeq'), 'Avastin', 'Treat Cancer', 'Bleeding'),
    (nextval('DrugsSeq'), 'Paracetamol', 'Treat Fever', 'headache, chills'),
    (nextval('DrugsSeq'), 'Ibu Profen', 'Reduce Pain', 'headache, nausea'),
    (nextval('DrugsSeq'), 'Flucanazole', 'Treat Infection', 'Headache or dizziness'),
    (nextval('DrugsSeq'), 'Rivastigmin', 'Treat Alzheimer', 'Nausea or vomiting');

SELECT * FROM Drugs;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
5 rows affected.
5 rows affected.

[(19, 'Avastin', 'Treat Cancer', 'Bleeding'),
 (23, 'Paracetamol', 'Treat Fever', 'headache, chills'),
 (27, 'Ibu Profen', 'Reduce Pain', 'headache, nausea'),
 (31, 'Flucanazole', 'Treat Infection', 'Headache or dizziness'),
 (35, 'Rivastigmin', 'Treat Alzheimer', 'Nausea or vomiting')]

#### k. Insert Data into Details Table

The following SQL code inserts data into the `Details` table, which includes information about drug details, prescriptions, dosage, and direction of use.

In [77]:
%%sql

-- Tabel Details
INSERT INTO Details (Drug_ID, Prescription_ID, Dosage, Direction_Of_Use)
VALUES 
    (31, 18, '100200 mg', 'once a day, or 200 mg, 3 times a week'),
    (31, 21, '100200 mg', 'once a day, or 200 mg, 3 times a week'),
    (19, 24, '160 mg/5 ml', 'twice a day'),
    (23, 27, '200-300 mg', '3 - 4 times a day'),
    (27, 30, '200-300 mg', '2- 3 times a day');

SELECT * FROM Details;

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
5 rows affected.
5 rows affected.

[(31, 18, '100200 mg', 'once a day, or 200 mg, 3 times a week'),
 (31, 21, '100200 mg', 'once a day, or 200 mg, 3 times a week'),
 (19, 24, '160 mg/5 ml', 'twice a day'),
 (23, 27, '200-300 mg', '3 - 4 times a day'),
 (27, 30, '200-300 mg', '2- 3 times a day')]


### Index Creation for Various Tables

The following SQL code creates indexes for several tables in the database, enhancing query performance.

In [89]:
%%sql
--INDEX
-- Index untuk tabel Insurance_Companies
CREATE INDEX IDX_Insurance_Companies ON Insurance_Companies(Company_Name);

-- Index untuk tabel Insurance_Services
CREATE INDEX IDX_Insurance_Services ON Insurance_Services(Service_Type);

-- Index untuk tabel Patients
CREATE INDEX IDX_Patient_LastName ON Patients(last_name);

-- Index untuk tabel Doctors
CREATE INDEX IDX_Doctor_LastName ON Doctors(last_name);

-- Index untuk tabel Hospitals
CREATE INDEX IDX_Hospital_Name ON Hospitals(Hospital_Name);

-- Index untuk tabel Employment_Contract
CREATE INDEX IDX_EmploymentContract_DoctorID ON Employment_Contract(Doctor_ID);
CREATE INDEX IDX_EmploymentContract_HospitalID ON Employment_Contract(Hospital_ID);

-- Index untuk tabel Diseases
CREATE INDEX IDX_Diseases_DiseaseName ON Diseases(Desease_Name);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.
Done.
Done.
Done.
Done.
Done.
Done.
(psycopg2.errors.UndefinedColumn) column "desease_name" does not exist

[SQL: -- Index untuk tabel Diseases
CREATE INDEX IDX_Diseases_DiseaseName ON Diseases(Desease_Name);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [85]:
%%sql
-- Index untuk tabel Treatment History
CREATE INDEX IDX_TreatmentHistory_PatientID ON Treatment_History(Patient_ID);
CREATE INDEX IDX_TreatmentHistory_DoctorID ON Treatment_History(Doctor_ID);
CREATE INDEX IDX_TreatmentHistory_HospitalID ON Treatment_History(Hospital_ID);
CREATE INDEX IDX_TreatmentHistory_DiseaseID ON Treatment_History(Disease_ID);

-- Index untuk tabel Prescriptions
CREATE INDEX IDX_Prescriptions_TreatmentID ON Prescriptions(Treatment_ID);

-- Index untuk tabel Drugs
CREATE INDEX IDX_Drugs_Name ON Drugs(Name_of_Drug);

-- Index untuk tabel Details
CREATE INDEX IDX_Details_DrugID ON Details(Drug_ID);
CREATE INDEX IDX_Details_PrescriptionID ON Details(Prescription_ID);

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Creating a View: Patient_Treatment_Info

The following SQL code creates a view named `Patient_Treatment_Info` that consolidates information about patients, their treatments, and related details. This view provides a comprehensive overview of various aspects related to patient treatment.

In [95]:
%%sql
CREATE VIEW Patient_Treatment_Info AS
SELECT
    p.first_name || ' ' || p.last_name AS Patient_Name,
    d.first_name || ' ' || d.last_name AS Doctor_Name,
    h.Hospital_Name,
    ic.Company_Name AS Insurance_Company,
    iserv.Service_Type AS Insurance_Service,
    di.Disease_Name,
    dr.Name_of_Drug
FROM Treatment_History th
JOIN Patients p ON th.Patient_ID = p.Patient_ID
JOIN Doctors d ON th.Doctor_ID = d.Doctor_ID
JOIN Hospitals h ON th.Hospital_ID = h.Hospital_ID
JOIN Diseases di ON th.Disease_ID = di.Disease_ID
JOIN Prescriptions pr ON th.Treatment_ID = pr.Treatment_ID
JOIN Details Dt ON pr.Prescription_ID = Dt.Prescription_ID
JOIN Drugs dr ON Dt.Drug_ID = dr.Drug_ID
JOIN Insurance_Services iserv ON p.Service_ID = iserv.Service_ID
JOIN Insurance_Companies ic ON iserv.Company_ID = ic.Company_ID;

SELECT * FROM Patient_Treatment_Info

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
Done.
5 rows affected.

[('Michael Johnson', 'Dr. Robert Johnson', 'RS Dr. Faizal', 'Yellow Life Insurance', 'Cashless', 'Cancer', 'Avastin'),
 ('Emily Williams', 'Dr. Stefany Williams', 'RS Dr. Angga', 'White Life Insurance', 'Reimbursement', 'Fever', 'Paracetamol'),
 ('David Brown', 'Dr. Mark Smith', 'RS Dr. Erikson', 'BPJS Life Insurance', 'Mandatory', 'Bursitis', 'Ibu Profen'),
 ('Jane Smith', 'Dr. Sarah Davis', 'RS Dr. Erikson', 'Yellow Life Insurance', 'In Patient', 'Candida', 'Flucanazole'),
 ('John Doe', 'Dr. Sarah Davis', 'RSUD Jakarta', 'Yellow Life Insurance', 'In Patient', 'Candida', 'Flucanazole')]

### Test Cases - Expected Errors

This test aims to test if the table cannot include null values in the not null constraint :
This test aims to test if the table cannot include null values in the not null constraint

In [98]:
%%sql
-- test tabel insurance company 
INSERT 
    INTO Insurance_Companies (Company_ID, Company_Name, Address, Contact_insurance_Comp)
    VALUES (InsuranceCompaniesSeq.NEXTVAL, Null, 'Jl. Jeruk No.20', '23456')

 * postgresql://angga_faizal:***@localhost:5432/HealthOne
(psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "insurancecompaniesseq"
LINE 4:     VALUES (InsuranceCompaniesSeq.NEXTVAL, Null, 'Jl. Jeruk ...
                    ^

[SQL: -- test tabel insurance company
INSERT
    INTO Insurance_Companies (Company_ID, Company_Name, Address, Contact_insurance_Comp)
    VALUES (InsuranceCompaniesSeq.NEXTVAL, Null, 'Jl. Jeruk No.20', '23456')]
(Background on this error at: https://sqlalche.me/e/20/f405)